<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diário Palmeirense</title>
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>

    <section id="full-page" class="full-page">
        <nav class="menu">
            <ul>
                <li>
                    <a href="#home">Home</a>
                    <a href="#full-page">Full-page</a>
                </li>
            </ul>
        </nav>

        <h1>
            Palmeiras vence e leva boa vantagem para São Paulo

        </h1>
        <p id="home">Palmeiras foi para Assunção, capital do Paraguai enfrentar o Cerro Porteño,
            partida válida pelas oitavas de final da taça libertadores da américa.
            O primeiro tempo foi repleto de poucas emoções, com palmeiras criando pouco e
            o Cerro Poteño muito fechado, o que se viu foi um tempo fraco e sem nem um chute direto ao gol.
        </p>
        <p id="full-page">
            Já no segundo tempo, a história foi diferente, palmeiras foi encontrando espaços aos poucos e com um
            belo

*{
    padding: 0;
    margin: 0;
}


h1 {
    padding: 5%;
    color: green;
    text-align: center;   
    display: block;
    font-size: 30px;
    
}

p {
    color: green;
    font-size: 25px;
    letter-spacing: 3px;
    text-align: justify;
    text-indent: 60px;
    line-height: 25px;

}
.menu{
    border: 5px solid green;
    background: green;
    text-align: left;
    color: white;
    font-size: 18px;
    text-align: center;
    width: 100%;
    position: fixed;
    word-spacing: 10px;
    display: block;
   
}
 a:visited{
    position: absolute;
    background-color: white;
    color: red;
    
    
 }

 
.menu ul{
    list-style: inside;
    display: block;
    


}

.menu ul li a:hover {
    background: rgb(130, 209, 130);

}
            cruzamento
            de Gustavo Scarpa, palmeiras abriu o placar, pouco tempo depois, com boa trocação de passes, palmeiras
            amplia o
            placar,
            fazendo dois a zero com mais um gol de Rony, dessa vez com assistencia do Dudu.
            Para fechar o placar o zagueiro Murilo faz 3 a 0 praticamente garantindo a classificação para as quartas
            de
            final.
        </p>

        <img src="https://s1.static.brasilescola.uol.com.br/be/e/palmeiras(1).jpg" alt="Logo palmeiras" width="100">
    </section>

    <a href="https://www.youtube.com/watch?v=ZGwqmbAWSYI" target="_blank">
        Melhores momentos

    </a>




</body>

</html>
